.option {
  height: 70px;
  width: 70px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.option:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.option:active {
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: rgba(0, 0, 0, 0.2);
}
.option .text {
  font-size: smaller;
}
.option .icon {
  font-size: x-large;
}
.logo {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: calc(70px + 1rem);
}
